<a href="https://colab.research.google.com/github/Saidmurodjon/data-science/blob/main/Pandas_Kirish_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import Series #series ma'lumotlar tuzilmasi

In [8]:
object = Series([4,7,-5,3])
type(object)
print(object)
print(object.values)
print(object.index)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [10]:
object[1]

np.int64(7)

In [14]:
object2 = Series([4,7,-5,3], index=['d','b','a','c'])
object2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [18]:
object2['b'] #biz faqat mavjud indexlarni ishlata olamiz !

np.int64(7)

In [25]:
object2[object2>3]

d    4
b    7
dtype: int64

In [27]:
object2/3

d    1.333333
b    2.333333
a   -1.666667
c    1.000000
dtype: float64

In [28]:
np.exp(object2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64